<?xml version="1.0" encoding="utf-8"?>
<Configuration status="TRACE" name="cloudhub">

    <Appenders>
        <RollingFile name="FILE" fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${artifactId}.log"
                 filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${artifactId}-%i.log">
            <PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    
	<Loggers>
		<!-- Http Logger shows wire traffic on DEBUG -->
		<AsyncLogger name="org.mule.module.http.internal.HttpMessageLogger" level="WARN" />

		<!-- JDBC Logger shows queries and parameters values on DEBUG -->
		<AsyncLogger name="com.mulesoft.mule.transport.jdbc" level="WARN" />

		<!-- CXF is used heavily by Mule for web services -->
		<AsyncLogger name="org.apache.cxf" level="WARN" />

		<!-- Apache Commons tend to make a lot of noise which can clutter the log -->
		<AsyncLogger name="org.apache" level="WARN" />

		<!-- Reduce startup noise -->
		<AsyncLogger name="org.springframework.beans.factory" level="WARN" />

		<!-- Mule classes -->
		<AsyncLogger name="org.mule" level="INFO" />
		<AsyncLogger name="com.mulesoft" level="INFO" />

		<!-- Reduce DM verbosity -->
		<AsyncLogger name="org.jetel" level="WARN" />
		<AsyncLogger name="Tracking" level="WARN" />
        
		<AsyncRoot level="INFO">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="elk" />
		</AsyncRoot>
    </Loggers>
</Configuration>
